<div class="fundo">
  <div class="half-screen image-container">
    <img src="assets/images/login/bg-login.png" class="img-fluid" alt="Imagem">
  </div>

  <div class="half-screen">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="col-md-6">
        <h1 class="text-center mb-4">LOGIN</h1>
        <form>
          <div class="secao">
            <div class="mb-3">
              <label for="inputEmail" class="form-label">EMAIL</label>
              <input type="email" class="form-control" id="inputEmail" placeholder="Digite seu email">
            </div>
            <div class="mb-3 senha">
              <label for="inputSenha" class="form-label">SENHA</label>
              <input type="password" class="form-control" id="inputSenha" placeholder="Digite sua senha">
            </div>
          </div>
          <div class="text-center secao">
            <div class="mb-3">
              <button type="submit" class="btn btn-secondary btn-md w-50">Entrar</button>
            </div>
            <p class="mb-4 light">
              <!-- Link para a rota de "Esqueci minha senha" usando routerLink -->
              <a [routerLink]="['/esqueci-senha']">ESQUECI MINHA SENHA!</a>
            </p>
            <p class="light">
              <!-- Link para a rota de "Cadastro" usando routerLink -->
              <a [routerLink]="['/cadastro']">Não possui cadastro?</a>
            </p>
            <div class="mt-4">
              <!-- Botão para a rota de "Cadastro" usando routerLink -->
              <button type="button" class="btn btn-secondary btn-md w-50" [routerLink]="['/cadastro']">Cadastrar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
