.aulas-curso-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  height: 100vh; /* Ocupa toda a altura da janela */
  padding: 1rem;
  box-sizing: border-box;
}

.video-player {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 8px;
  overflow: hidden;
  background: #fff; /* Fundo branco para o player */
}

.video-frame {
  width: 100%;
  aspect-ratio: 16 / 9; /* Mantém proporção de vídeo */
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.texto-instrucao {
  color: #666;
  font-size: 1.1rem;
  margin-top: 1rem;
}

.lista-modulos {
  flex: 1;
  background-color: #ffffff; /* Fundo branco mais clean */
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto; /* Rolagem vertical */
  max-height: 100%;
  border: 1px solid #e0e0e0; /* Leve contorno */
}

.modulo {
  margin-bottom: 1.5rem; /* Espaçamento entre módulos */
}

.modulo h4 {
  margin: 0 0 0.5rem;
  font-size: 1.1rem;
  color: #333;
  padding: 0.3rem;
  background-color: #f1f1f1; /* Destaque do título do módulo */
  border-radius: 4px;
}

.aulas-lista {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.aula-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.2rem 0;
  padding: 0.4rem 0.6rem;
  border-radius: 6px;
  background-color: #fafafa;
  border: 1px solid #ddd;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

.aula-item:hover {
  background-color: #e6f0ff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.aula-info {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.aula-nome {
  color: #007bff;
  text-decoration: none;
  font-weight: 500;
  margin-right: 0.5rem;
}

.aula-nome:hover {
  color: #0056b3;
  text-decoration: underline;
}

input[type="checkbox"] {
  margin-left: 0.5rem;
  transform: scale(1.1);
  cursor: pointer;
  accent-color: #007bff; /* Azul para o checkbox */
}

.progresso-geral {
  width: 100%;
  margin-top: 1rem;
}

.barra-externa {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  height: 10px;
}

.barra-interna {
  height: 100%;
  background-color: #007bff;
  transition: width 0.3s ease;
}

/* No aulas-curso.component.css */
.certificado-btn-container {
  margin-top: 20px;
  text-align: center;
}

.btn-certificado {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-certificado:hover {
  background-color: #2980b9;
}

.titulo-aula-atual {
  font-size: 1.2rem;
  font-weight: 450;
  color: #333;
  margin-bottom: 1rem;
}
